h1 {
  font-size: 70px;
}
.header-images {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 140px;
  margin: 40px;
}
