:root {
  --heading: "Playfair Display", serif;
  --non-heading: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}
p {
  font-family: var(--non-heading);
}
.header-images {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 350px;
  margin: 40px;
}
