:root {
  --button-color: #6c63ff;
  --transparent-background: #f9f7fe;
  --large-font-heading: "Playfair Display", serif;
  --default-font-heading: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--large-font-heading);
}

h1 {
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-family: var(--default-font-heading);
  line-height: 1.5;
}

.hero {
  background-color: var(--transparent-background);
  text-align: center;
  padding: 160px 0;
}
.hero p {
  font-family: var(--large-font-heading);
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-heading);
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  margin: 50px 0;
}
.contact-me-btn {
  padding: 18px 30px;
  background: var(--button-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}
.outlined-btn {
  padding: 18px 30px;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: var(--button-color);
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}
