:root {
  --button-color: #6c63ff;
  --transparent-background: #f9f7fe;
  --logo-background: #f6c69e;
  --large-font-heading: "Playfair Display", serif;
  --default-font-heading: "Poppins", sans-serif;
  --do: #85f789;
  --dont: #fcece7;
  --tip: #c7f4c8;
}
.header-images {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  object-fit: cover;
  object-position: center 47%;
  display: flex;
  height: 140px;
  border-radius: 3px;
}
.author-logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--large-font-heading);
}

h2 {
  font-size: 65px;
}
h1 {
  font-size: 90px;
}

.content-intro {
  margin-left: 180px;
}
.content-middle {
  margin-left: 180px;
}
.content-footer {
  margin: 20px 40px;
  padding: 40px 120px;
  border-radius: 3px;
  background-color: var(--transparent-background);
  display: flex;
  justify-content: space-between;
}
.container {
  padding-right: 80px;
}
.do {
  padding: 14px 18px;
  background-color: var(--do);
  text-align: center;
  border-radius: 3px;
}
.dont {
  padding: 14px 18px;
  background-color: var(--dont);
  text-align: center;
  border-radius: 3px;
}
.issue {
  padding: 14px 18px;
  background-color: var(--dont);
  text-align: center;
  border-radius: 3px;
}

.solution {
  padding: 14px 18px;
  background-color: var(--do);
  text-align: center;
  border-radius: 3px;
}
.tip {
  padding: 10px 14px;
  background-color: var(--tip);
  border-radius: 3px;
  font-style: italic;
}
.title {
  padding-top: 50px;
}
p {
  font-family: var(--default-font-heading);
}

.logo {
  max-height: 55px;
}

.contact-me-btn {
  padding: 18px 30px;
  background: var(--button-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}

nav {
  padding: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--button-color);
  transition: all 100ms ease-in-out;
}
